html {
    font-size: 15px

}

body{

    background-color: rgb(237, 230, 230);
    color: black;
}
label,
textarea {
    font-size: 20%;
    letter-spacing: 1px;
}

textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}
